<div class="container" class="naarlinks">
  <h1>Uren registreren</h1>
  <div class="card" style="padding: 20px;">
    <div class="form-group">
      <table>
        <tr>
          <td><label for="einddatum">Begindatum: </label></td>
          <td><input type="date" class="form-control" id="begindatum" date-set=""></td>
        </tr>
        <tr>
          <td><label for="einddatum">Einddatum: </label></td>
          <td><input type="date" class="form-control" id="einddatum"></td>
        </tr>
        <tr>
          <td><label for="klant">Klant: </label> </td>
          <td><input type="text" class="form-control" id="klant"></td>
        </tr>
        <tr>
          <td><label for="project">Project: </label> </td>
          <td><input type="text" class="form-control" id="project"></td>
        </tr>
        <tr>
          <td><label for="onderwerp">Onderwerp: </label> </td>
          <td><input type="text" class="form-control" id="onderwerp"></td>
        </tr>
        <tr>
          <td colspan="4"><button type="button" class="btn btn-primary">Haal gegevens op</button></td>
        </tr>

      </table>
    </div>
  </div>
</div>
