

<div class="container">
  
  <div class="form-group">
    <table>
      <tr>
        <td colspan="4"> <h1>Urenregistreren</h1></td>
      </tr>
      <tr>
        <td><label for="klant">Klant: </label> </td>
        <td><input type="text" class="form-control" id="klant"></td>
        <td><label for="begintijd">Begin tijd: </label></td>
        <td><input type="text" class="form-control" id="begintijd"></td>
      </tr>
      <tr>
        <td><label for="project">Project: </label> </td>
        <td><input type="text" class="form-control" id="project"></td>
        <td><label for="begindatum">Begin datum: </label></td>
        <td><input type="text" class="form-control" id="begindatum"></td>
      </tr>
      <tr>
        <td><label for="onderwerp">Onderwerp: </label> </td>
        <td><input type="text" class="form-control" id="onderwerp"></td>
        <td><label for="eindtijd">Eind tijd: </label></td>
        <td><input type="text" class="form-control" id="eindtijd"></td>
      </tr>
      <tr>
        <td><label for="commentaar">Commentaar: </label> </td>
        <td><input type="text" class="form-control" id="commentaar"></td>
        <td><label for="einddatum">Eind datum: </label></td>
        <td><input type="text" class="form-control" id="einddatum"></td>
      </tr>
      <tr>
        <td colspan="4"><button type="button" class="btn btn-primary">Opslaan</button></td>
      </tr>

    </table>
  </div>
</div>
