<table class="table">
  <thead>
    <tr>
      <th scope="col">Begindatum</th>
      <th scope="col">Begintijd</th>
      <th scope="col">Einddatum</th>
      <th scope="col">Eindtijd</th>
      <th scope="col">Commentaar</th>
      <th scope="col">Klant</th>
      <th scope="col">Project</th>
      <th scope="col">Onderwerp</th>
      <th scope="col">Goedgekeurd</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let uur of uren" >
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>