<h1>Weekoverzicht</h1>
<div class="card">
    <table class="table">
    <thead>
      <tr>
        <th scope="col">Begindatum</th>
        <th scope="col">Begintijd</th>
        <th scope="col">Einddatum</th>
        <th scope="col">Eindtijd</th>
        <th scope="col">Commentaar</th>
        <th scope="col">Personeelslid</th>
        <th scope="col">Klant</th>
        <th scope="col">Project</th>
        <th scope="col">Onderwerp</th>
        <th scope="col">Goedgekeurd</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let uur of uren" >
        <td>{{uur.begindatum}}</td>
        <td>{{uur.begintijd}}</td>
        <td>{{uur.einddatum}}</td>
        <td>{{uur.eindtijd}}</td>
        <td>{{uur.commentaar}}</td>
        <td>{{uur.personeelsnaam}}</td>
        <td>{{uur.klantnaam}}</td>
        <td>{{uur.projectnaam}}</td>
        <td>{{uur.onderwerpnaam}}</td>
        <td *ngIf="uur.goedgekeurd == true">Ja</td>
        <td *ngIf="uur.rechten == false">Nee</td>     
      </tr>
    </tbody>
  </table>
</div>