
<div class="card">
    <table class="table">
    <thead>
      <tr>
        <th scope="col">Begindatum</th>
        <th scope="col">Begintijd</th>
        <th scope="col">Einddatum</th>
        <th scope="col">Eindtijd</th>
        <th scope="col">Commentaar</th>
        <th scope="col">Personeelslid</th>
        <th scope="col">Klant</th>
        <th scope="col">Project</th>
        <th scope="col">Onderwerp</th>
        <th scope="col">Goedgekeurd</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let uur of uren" >
        <td>{{uur.beginDatum}}</td>
        <td>{{uur.beginTijd}}</td>
        <td>{{uur.eindDatum}}</td>
        <td>{{uur.eindTijd}}</td>
        <td>{{uur.commentaar}}</td>
        <td>{{uur.persoonNaam}}</td>
        <td>{{uur.klantNaam}}</td>
        <td>{{uur.projectNaam}}</td>
        <td>{{uur.onderwerpNaam}}</td>
        <td *ngIf="uur.goedgekeurd == true">Ja</td>
        <td *ngIf="uur.goedgekeurd == false">Nee</td>
      </tr>
    </tbody>
  </table>
</div>
