<div ng-app="myApp" ng-controller="myController" class="container">
  <form name="myForm">
    <div class="account-container">
      <div class="row">
        
        <table>
          <tr>
            <td colspan="2">
              <h2>Account aanmaken</h2>
            </td>
          </tr>
          <tr>
            <td>
              <label>Voornaam:</label>
            </td>
            <td>
              <input type="voornaam" [(ngModel)]="user.voornaam" name="voornaam" required class="form-control">
            </td>
          </tr>
          <tr>
            <td>
              <label>Tussenvoegsel:</label>
            </td>
            <td>
              <input type="tussenvoegsel" [(ngModel)]="user.tussenvoegsel" name="tussenvoegsel" required class="form-control">
            </td>
          </tr>
          <tr>
            <td>
              <label>Achternaam:</label>
            </td>
            <td>
              <input type="achternaam" [(ngModel)]="user.achternaam" name="achternaam" required class="form-control">
            </td>
          </tr>
          <tr>
            <td>
              <label>Email:</label>
            </td>
            <td>
              <input type="email" [(ngModel)]="user.email" name="email" required class="form-control">
            </td>
          </tr>
          <tr>
            <td>
              <label>Rechten:</label>
            </td>
            <td>
              <select [(ngModel)]="user.rechten" name="rechten" class="form-control">
                <option>Personeel</option>
                <option>Administratie</option>
              </select>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="form-group">
                <button type="button" class="btn btn-primary btn-block" (click)='voegAccountToe()'>Toevoegen</button>
                <div class="clearfix"></div>
              </div>
            </td>
          </tr> 
        </table>

      </div>
    </div>

  </form>
</div>

