
<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <body style="padding-bottom: 1em;">

    <div class="w3-bar w3-theme w3-xlarge">
      <span class="w3-bar-item">WebEdu</span>
      <a class="w3-bar-item w3-button w3-right"></a>
    </div>

    <div *ngIf= "auth.getActiveUser() != null" class="w3-bar w3-theme">
      <a class="w3-bar-item w3-button w3-hover-white" href="#" routerLink="/registratie">Uren registreren</a>
      <a class="w3-bar-item w3-button w3-hover-white" href="#" routerLink="/urenoverzicht">Weekoverzicht</a>
      <a class="w3-bar-item w3-button w3-hover-white" href="#" routerLink="/gebruikers" *ngIf="auth.getActiveUser().rechten == 1">Gebruikers</a>
      <a class="w3-bar-item w3-button w3-hover-white" href="#" routerLink="/accountmaken" *ngIf="auth.getActiveUser().rechten == 1">Account aanmaken</a>
      <a class="w3-bar-item w3-button w3-hover-white" href="#" routerLink="/accountinfo">Accountinfo</a>
      <a class="w3-bar-item w3-button w3-hover-white" href="#" routerLink="/adminurenoverzicht"*ngIf="auth.getActiveUser().rechten == 1">Urenoverzicht Personeel</a>
      <a class="w3-bar-item w3-button w3-hover-white w3-right" href="#" (click)="logOut()" routerLink="/">Logout</a>        
    </div>
  </body>
</html>
