

<div class="container">
  <h1>Uren registreren</h1>
  <div class="card" style="padding: 20px;">
  <div class="form-group">
    <table>
      <tr>
        <td><label for="klant">Klant: </label> </td>
        <td><input type="text" class="form-control" id="klant"
          [(ngModel)]="hour.customerName"
          name=customerName></td>
        <td><label for="begintijd">Begin tijd: </label></td>
        <td><input type="time" class="form-control" id="begintijd"
          [(ngModel)]="hour.startingTime"
          name="startingTime"></td>
      </tr>
      <tr>
        <td><label for="project">Project: </label> </td>
        <td><input type="text" class="form-control" id="project"
          [(ngModel)]="hour.projectName"
          name="projectName"></td>
        <td><label for="begindatum">Begin datum: </label></td>
        <td><input type="date" class="form-control" id="begindatum"
          [(ngModel)]="hour.startingDate"
          name="StartingDate"></td>
      </tr>
      <tr>
        <td><label for="onderwerp">Onderwerp: </label> </td>
        <td><input type="text" class="form-control" id="onderwerp"
          [(ngModel)]="hour.subjectName"
          name="subjectName"></td>
        <td><label for="eindtijd">Eind tijd: </label></td>
        <td><input type="time" class="form-control" id="eindtijd"
          [(ngModel)]="hour.endingTime"
          name="endingTime"></td>
      </tr>
      <tr>
        <td><label for="commentaar">Commentaar: </label> </td>
        <td><input type="text" class="form-control" id="commentaar"
          [(ngModel)]="hour.comment"
          name="comment"></td>
        <td><label for="einddatum">Eind datum: </label></td>
        <td><input type="date" value="{{datum}}" value="{{date}}" class="form-control" id="einddatum"
          ></td>
      </tr>
      <tr>
        <td colspan="4"><button type="button" class="btn btn-primary" (click)="saveHour()">Opslaan</button></td>
      </tr>
    </table>
  </div>
  </div>
</div>
