
<div ng-app="myApp" ng-controller="myController" class="container">
  <form #myForm="ngForm">
    <div class="login-container">

      <h1>Log in</h1>

      <div class = "card" style="padding: 20px;">
        <div class="row">

          <div class="col-md-12">
            <div class="form-group">
              <label>Email</label>
              <input type="email" [(ngModel)]="user.email" name="email" required class="form-control">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Password</label>
              <input type="password" [(ngModel)]="user.wachtwoord" name="wachtwoord" required class="form-control">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <button [disabled]="!user.wachtwoord||!user.email" class="btn btn-secondary" (click)='logIn()'>Login</button>
              <div class="clearfix"></div>
              <div *ngIf="fout" class="alert alert-danger">
                Foute ingloggegevens!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
