.card{
    box-shadow: 0 2px 5px 0 #bbbbbb;
    width: 100%;
    margin-bottom: 30px;
    border: none;
    height: 600px;
    display: block;
    overflow-y: scroll;
}

.block{
    float: left;
    padding: 3px;
}


