<div class="container">
  <table>
    <tr>
      <th colspan="2"><h1>Account informatie</h1></th>
    </tr>
    <tr>
      <td><label for="Voornaam">Voornaam: </label> </td>
      <td><label type="text" id="Voornaam">alex</label></td>
    </tr>
    <tr>
        <td><label for="tussen">Tussenvoegsel: </label> </td>
        <td><label type="text" id="tussen">de </label></td>
    </tr>
    <tr>
        <td><label for="achternaam">Achternaam: </label> </td>
        <td><label type="text" id="achternaam">Bruin</label></td>
    </tr>
    <tr>
        <td><label for="Email">Email: </label> </td>
        <td><label type="text" id="Email">s1103096@student.hsleiden.nl</label></td>
    </tr>
    <tr>
        <td><label for="achternaam">Achternaam: </label> </td>
        <td><label type="text" id="achternaam">Bruin</label></td>
    </tr>
    <tr>
        <td><label for="wachtwoord">Wachtwoord: </label> </td>
        <td><label type="text" id="wachtwoord">ipsen123</label></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2"><h5>Verander uw wachtwoord</h5></td>
    </tr>
    <tr>
      <td><label for="nieuwWacht">Nieuw wachtwoord</label></td>
      <td><input type="password" class="form-control" id="nieuwWacht"></td>
    </tr>
    <tr>
      <td><label for="herhaalNieuwWacht">Herhaal wachtwoord</label></td>
      <td><input type="text" class="form-control" id="herhaalNieuwWacht"></td>
    </tr>
    <tr>
      <td colspan="2"><button type="button" class="btn btn-primary">Opslaan</button></td>
    </tr>
  </table>
</div>