<div class="container">
  <h1>Account</h1>
  <table>
    <div class="card" style="padding: 20px;">
    <tr>
      <td><label for="Voornaam">Voornaam: </label> </td>
      <td><label type="text" id="Voornaam"> {{ user.achternaam }}</label></td>
    </tr>
    <tr>
        <td><label for="tussen">Tussenvoegsel: </label> </td>
        <td><label type="text" id="tussen">{{ user.tussenvoegsel }} </label></td>
    </tr>
    <tr>
        <td><label for="achternaam">Achternaam: </label> </td>
        <td><label type="text" id="achternaam">{{ user.voornaam }}</label></td>
    </tr>
    <tr>
        <td><label for="Email">Email: </label> </td>
        <td><label type="text" id="Email">{{user.email}}</label></td>
    </tr>
    <tr>
        <td><label for="wachtwoord">Wachtwoord: </label> </td>
        <td><label type="text" id="wachtwoord">{{user.password}}</label></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    </div>

    <div class="card" style="padding: 20px;">
    <tr>
      <td colspan="2"><h4>Verander uw wachtwoord</h4></td>
    </tr>
    <tr>
      <td><label for="nieuwWacht">Nieuw wachtwoord:</label></td>
      <td><input type="password" class="form-control" id="nieuwWacht"></td>
    </tr>
    <tr>
      <td><label for="herhaalNieuwWacht">Herhaal wachtwoord:</label></td>
      <td><input type="text" class="form-control" id="herhaalNieuwWacht"></td>
    </tr>
    <tr>
      <td colspan="2"><button type="button" class="btn btn-primary" (click)="OpslaanGegevens()">Opslaan</button></td>
    </tr>
    </div>
  </table>
</div>